* {
    box-sizing: border-box;
}

html {
    height: 100dvh;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-size: var(--inter-font-size-medium);
    background-color: var(--Yellow);
}

/* STYLE GUIDE */
:root {

    /* Main Colors */
    --Gray-900: #141414;
    --Gray-800: #1F1F1F;
    --Gray-700: #333333;
    --Green: #C4F82A;
    --White: #FFFFFF;


    /* Typography */

    /* Inter */
    --inter-line-height: 150%;
    --inter-letter-spacing: 0px;

    /* Preset 1 24px */
    --inter-font-size-large: 1.5rem;

    /* Preset 2 14px */
    --inter-font-size-medium: 0.875rem;
}

/* Main Styling */



/* Button Styling */

button {
    background-color: var(--Gray-700);
    color: var(--White);
    font-weight: bold;
    width: 21.714rem;
    height: 2.8125rem;
    border-radius: 8px;
}

button:hover,
button:focus {
    background-color: var(--Green);
    color: var(--Gray-700);
}


/* ============
    Media Queries
    =========== */

@media (min-width: 376px) {

}